html {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(232, 232, 232); 
}

main {
  margin: 0 5%; 
  @media (min-width: 767px) {
    margin: 0 20%;
  }
}